*, 
*:after, 
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	cursor: pointer;
}

body {
	width: 100%;
	font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.wrapper {
	width: 100%;
	overflow: hidden;
	min-height: 300vh;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,.5);
	z-index: 999;
	visibility: hidden;
}

.overlay-toggle {	
	visibility: visible;
}

.header {
	width: 100%;
	position: relative;
	background: #000;
	color: #fff;
}

.container {
	max-width: 1200px;
	padding: 0 30px;
	margin: 0 auto;
}

.unav-wrap {
	background: #2a2a2a;
	height: 40px;
}

.unav-wrap .unav {
	align-items: center;
	height: 100%;
}

.unav-wrap .unav .item:hover a{
	color: #fff;
}

.unav-wrap .unav .item {
	flex-shrink: 0;
	margin: 0;
	padding-right: 15px;
}

.unav-wrap .unav .item a {
	font-size: 14px;
}


/*======================= site-inner ============================*/

.site-header-wrap {
	max-width: 1200px;
	margin:0 auto;
	padding: 19px 30px 20px;
	background: #000;

}

.site-header-inner {
	height: 100px;
	width: 100%;
	position: relative;
}

.site-logo {
	width: 158px;
	float: left;
	margin-right: 30px;
	height: 100px;
}

.site-logo img {
	width: 100%;
	height: 100%;
}




/*=========================== site-action =========================*/


.site-action {
	margin-left: 188px;
	width: auto;
	height: 100%;
}

.site-header-action {
	display: flex;
	justify-content: space-between;
	height: 46px;
}

.site-header-action .action-search {
	width: 50%;
	padding-right: 30px;
}

.group-search {
	width: 100%;
	height: 100%;
}

.group-search .input-dark {
	width: calc(100% - 46px);
	height: 100%;
	padding-left: 20px;
	float: left;
	background: #555;
	border: none;
	font-size: 18px;
	color: #fff;
}

.group-search .input-dark::placeholder {
	color: #fff;
}

.group-search .search-icon {
	float: right;
	height: 46px;
	width: 46px;
	background: #555;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.group-search .search-icon:hover i {
	color: #a1c900;
}

.group-search .search-icon i {
	color: #fff;
	font-size: 18px;
}

/*==================== action-user =============*/

.site-action .action-user {
	position: relative;
	height: 100%;
	width: 50%;
}

.site-action .action-user .nav-action {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
}

.site-action .action-user .nav-action li {
	list-style: none;
	margin-left: 20px;
}

.site-action .action-user .nav-action li:hover a {
	color: #a1c900;
}

.cart::before {
	position: relative;
	content: "CART";
	font-size: 14px;
	font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif
}

.site-action .action-user .nav-action li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

.site-action .action-user .nav-action li span {
	padding-left: 5px;
}

.site-action .action-user .nav-action li i {
	font-size: 18px;
}

#menu-toggle {
	display: none;
}

#menu-toggle:after {
	content: "\f0c9";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 25px;
}

/*=================  site-nav-action ============================*/


.site-nav-action {
	height: 40px;
	margin-top: 14px;
	border-top: 1px solid #fff;
}

.site-nav-action .items {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: flex-end;
	justify-content: space-between;
}

.site-nav-action .items .item {
	list-style: none;
	text-align: left;
}

.site-nav-action .items .item:hover a {
	color: #a1c900;
}

.site-nav-action nav.items .item a {
	text-decoration: none;
	color: #fff;
}

/*============================ menu-toggle ==============*/

.site-nav-action .menu-toggle-user {
	height: 60px;
	padding: 0 20px;
	display: none;
}

.site-nav-action .menu-toggle-user a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
}

.site-nav-action .menu-toggle-user li {
	list-style: none;
	line-height: 60px;
}

.site-nav-action .menu-toggle-user li span {
	margin-left: 10px;
}

.site-nav-action .menu-toggle-user .sign-in,
.site-nav-action .menu-toggle-user .stores {
	float: left;
	margin-right: 20px;
}

.site-nav-action .menu-toggle-user #close-menu {
	float: right;
	width: 40px;
	height: 40px;
	background: #fff;
	color: #000;
	display: flex;
	justify-content: center;
	border-radius: 50%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.site-nav-action .menu-toggle-user #close-menu i {
	font-size: 20px;
	line-height: 40px;
}

/*======================================== nav-lv2 =======================*/

