@media (max-width: 992px) {
	.container {
		padding: 0 20px;
	}

	.site-header-wrap {
		padding: 16px 20px;
	}

	.site-header-inner {
		height: 63px;
	}

	.site-action {
		margin-left: 30px;
	}
		
	.site-logo,
	.site-logo img {
		height: 63px;
		width: 100px;
	}


	/*	*/
	.site-header-action .stores,
	.site-header-action .sign-in {
		display: none;
	}

	#menu-toggle {
		display: block;
		margin-left: 30px;
	}
	
	.site-action {
		display: flex;
		align-items: center;
	}

	.site-header-action {
		width: 100%;
	}
	.action-search {
		width: 100% !important;
	}

	.cart::before {
		content: '';
	}


	/*===================== menu-toggle ===============*/
	.site-nav-action .menu-toggle-user {
		display: block;
	}

	.site-nav-action {
		position: fixed;
		width: 320px;
		height: auto;
		background: #000;
		right: -100%;
		top: 0;
		transition: 0.3s;
		margin: 0;
		border: none;
		z-index: 1000;
	}

	

	.site-nav-action nav.items {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		background: #555;
		justify-content: space-around;
	}

	.site-nav-action nav.items .item {
		text-align: center;
		padding: 0 20px;
		height: 50px;	
		width: 100%;
		text-align: left;
		line-height: 50px;
		font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 20px;
		font-weight: bold;
		border-bottom: 1px solid #fff;
		position: relative;
	}

	.site-nav-action nav.items .item:before {
		position: absolute;
		content: '';
		width: 5px;
		height: 100%;
		background: #333;
		top: 0;
		left: 0;
		filter: blur(3px);
	}
}


@media (max-width: 768px) {
	.site-logo,
	.site-logo img {
		width: 68px;
		height: 43px;
		margin: 0;
	}

	.site-header-inner {
		display: flex;
		height: 100px;
		flex-direction: column;
	}

	.site-header-inner .site-action,
	.site-action .site-header-action {
		margin: 0;
		position: relative;
		width: 100%;
	}

	.action-search {
		width: 100%;
		padding: 0 !important;
	}

	.action-user {
		position: absolute !important;
		top: -100%;
		right: 5px;
	}
}