.active {
	right: -20px;
}

.close {
	right: -340px;
	transition: .3s;
}

.display-none {
	display: none;
}

nav.items .item.active-block .nav-lv2-wrapper {
	display: block;
}


.body-height {
	max-height: 100vh;
}
